{% extends 'base.html' %}

{% block body %}
{% if articles|length > 0 %}

<div class="row mb-2">
    {% for article in articles %}
    <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            {% if article.urlToImage is not none %}
            <div class="col-auto d-none d-lg-block">
                <img src="{{article.urlToImage}}" alt="" height="250" width="550" />
            </div>
            {% endif %}
            <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-success-emphasis">{{category}}</strong>
                <h3 class="mb-0">{{ article['title']}}</h3>
                {% if article.description is not none %}
                <p class="card-text mb-auto">{{ article.description }}</p>
                {% endif %}
                <a href="{{article.url}}" class="icon-link gap-1 icon-link-hover stretched-link link-success">
                    Continue reading
                    <img src="{{url_for('static', filename='right-chevron.png')}}" alt="News Image" width="12px" />
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% else %}
<h1>Unfortunately,</h1>
<br />
<iframe src="https://giphy.com/embed/ez1QgBv3LAzwcYiGDK" width="480" height="480" frameborder="0" class="giphy-embed"
    allowfullscreen></iframe>
<p>
    <a href="https://giphy.com/gifs/eternalfamilytv-eternal-family-tv-la-pizza-ez1QgBv3LAzwcYiGDK">via GIPHY</a>
</p>
{% endif %}

{% endblock %}